@use '../../styles/variables.scss';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  .content {
    padding: 10px 10px 0 10px;
    width: 500px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    border: none;

    .header,
    .footer {
      padding: 10px;
    }

    .title {
      margin: 0;
    }

    .body {
      padding: 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    .footer {
      display: flex;
      justify-content: right;
      gap: 15px;

      .button {
        border: none;
        min-width: 80px;
        padding: 10px 15px;
        border-radius: 5px;
      }

      .confirm {
        background-color: variables.$ellowPrimary;
        color: variables.$white;

        &:hover {
          background-color: darken(variables.$ellowPrimary, 20%);
        }
      }

      .close {
        background: none;
        border: 1px solid variables.$ellowPrimary;
        color: variables.$ellowPrimary;

        &:hover {
          color: darken(variables.$ellowPrimary, 20%);
          border-color: darken(variables.$ellowPrimary, 20%);
        }
      }
    }
  }
}

:global(.enter-done).modal {
  opacity: 1;
  pointer-events: visible;
}

:global(.exit).modal {
  opacity: 0;
}

:global(.enter-done).modal .content {
  transform: translateY(0);
}

:global(.exit).modal .content {
  transform: translateY(-200px);
}
